body,h1 {
    font-family: "Raleway", sans-serif
}


body, html {  
    height: 100%

}


body,h1 {
  background-color: #F8C569;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}
